html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background: #f6f8ff;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f6f8ff;
	width: 60vw;
	height: auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50vw;
}

.search-bar-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 50vw;
}

.search-bar {
	display: flex;
	justify-content: center;
}

#result {
	display: inline-block;
}

.username-container {
	display: flex;
	align-items: left;
	width: 50vw;
	height: auto;
}

.date-joined {
	display: flex;
	width: auto;
}

.result-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100vw;
	margin: 1px 2px;
	border: 1px solid black;

	@media (min-width: 43.75em) {
		display: flex;
		flex-direction: row;
		float: right;
	}
}

.image-name-container {
	display: flex;
	width: 100%;
	@media (min-width: 43.75em) {
		display: none;
	}
}

h1 {
	font-family: 'Space Mono', monospace;
	font-size: 16px;
	line-height: 6px;
	font-weight: 700;
}

h2 {
	font-family: 'Space Mono', monospace;
	font-size: 16px;
	line-height: 8px;
	font-weight: 700;
}

h3 {
	font-family: 'Space Mono', monospace;
	font-size: 13px;
	line-height: 8px;
	font-weight: 400;
	color: #0079ff;
}

h4 {
	font-family: 'Space Mono', monospace;
	font-size: 11px;
	line-height: 8px;
	font-weight: 400;
	margin: 0px;
	color: #697c9a;
}
