html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background: #f6f8ff;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f6f8ff;
	width: auto;
	height: auto;
}

#result {
	display: inline-block;
}

h1 {
	font-family: 'Space Mono', monospace;
	font-size: 20px;
	font-weight: 700;
	margin: 0px;
}

h2 {
	font-family: 'Space Mono', monospace;
	font-size: 16px;
	font-weight: 700;
	margin: 10px 0px;
}

h3 {
	font-family: 'Space Mono', monospace;
	font-size: 13px;
	font-weight: 400;
	margin: 5px 0px;
	color: #0079ff;
}

h4 {
	font-family: 'Space Mono', monospace;
	font-size: 11px;
	font-weight: 400;
	margin: 5px 0px;
	color: #697c9a;
}

p {
	font-family: 'Space Mono', monospace;
	font-size: 11px;
	font-weight: 400;
	margin: 5px 0px;
	color: #697c9a;
}
