.influence-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 50vw;
	background-color: #f6f8ff;
	border-radius: 16px;
	padding: 2em 4em;
}

.influence-container > h2 {
	line-height: 14px;
}
