.location > p {
	width: 100%;
	margin: 0px 16px;
}

.links > p {
	width: 100%;
	margin: 0px 16px;
}

.twitter > p {
	width: 100%;
	margin: 0px 16px;
}

.others > p {
	margin: 0px 16px;
	width: 100%;
}

.soc-med-container {
	display: flex;
	flex-wrap: wrap;
	height: 50%;

	@media (min-width: 43.75em) {
		//x >= 43.75em
		display: flex;
		height: auto;
	}
}

.soc-med-container > div {
	display: flex;
	height: auto;
	flex: auto;
}

.location-twitter-wrapper {
	display: flex;
	flex-direction: column;
	height: 50%;
}

.location-twitter-wrapper > div {
	margin: 10px;
	display: flex;
}

.link-others-wrapper {
	display: flex;
	flex-direction: column;
	height: 50%;
}

.link-others-wrapper > div {
	margin: 10px;
	display: flex;
}
