.location > p {
	margin: 0px 16px;
}

.links > p {
	margin: 0px 16px;
}

.twitter > p {
	margin: 0px 16px;
}

.others > p {
	margin: 0px 16px;
}

.soc-med-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: left;
	width: 100%;

	@media (min-width: 43.75em) {
		//x >= 43.75em
		display: flex;
		flex-direction: row;
		width: 50vw;
	}
}

.soc-med-container > p {
	margin: 0px 16px;
}

.soc-med-container > div {
	display: flex;
	flex: 50%;
}
