.location {
	display: flex;
}

.location > p {
	margin: 0px 16px;
}

.links {
	display: flex;
}

.links > p {
	margin: 0px 16px;
}

.twitter {
	display: flex;
}

.twitter > p {
	margin: 0px 16px;
}

.others {
	display: flex;
}

.others > p {
	margin: 0px 16px;
}

.soc-med-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: left;
	width: 50vw;

	@media (min-width: 43.75em) {
		display: flex;
		flex-direction: row;
		width: 50vw;
	}
}
