header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin-bottom: 20px;

	@media (min-width: 43.75em) {
		width: 100%;
	}
}

.light-dark-mode {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.light-dark-mode-btn > button {
	font-family: 'Space Mono', monospace;
	font-size: 12px;
	font-weight: 400;
	margin: 0px 5px;
	color: #2b3442;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}

.dark-mode {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.light-mode {
	display: none;
	flex-direction: row;
	align-items: center;
}

.light-mode > button {
	font-family: 'Space Mono', monospace;
	font-size: 12px;
	font-weight: 400;
	margin: 0px 5px;
	color: #fefefe;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}
.getUserLight,
.getUserLight::-webkit-input-placeholder {
	color: #ffffff;
}
